<?php

$metadata['{{ sp_entity_id }}'] = array(
    'AssertionConsumerService' =>
        array (
{%- for acs in sp_assertion_cs %}
            {{ acs['index'] }} =>
            array (
                'Binding' => '{{ acs['binding'] }}',
                'Location' => '{{ acs['location'] }}',
                'index' => {{ acs['index'] + 1 }},
            ),
{%- endfor %}
        ),
    'SingleLogoutService' =>
        array (
{%- for sls in sp_single_logout_service %}
            {{ sls['index'] }} =>
            array (
                'Binding' => '{{ sls['binding'] }}',
                'Location' => '{{ sls['location'] }}',
                'index' => {{ sls['index'] + 1 }},
            ),
{%- endfor %}
        ),
);
