<?php

$metadata['__DYNAMIC:1__'] = [
    'host' => '__DEFAULT__',

    'privatekey' => 'server.pem',
    'certificate' => 'server.crt',

    'auth' => 'example-userpass',
    'saml20.ecp' => true,
];
